/* 文字化け防止 必ず先頭に置く*/
@charset "UTF-8";
/* 
  セレクター {
            プロパティ: 値; 
            }
*/
/* セレクタ 
   どの部分を修飾するかの指定をする
   HTMLのタグの名前や、クラス、IDと呼ばれる特定の変更場所を書く
*/
/* プロパティ 
   セレクターで指された部分の何を変えるかを書く
   文字色を変える、文字サイズを変える、背景画像を加えるなど
*/
/* 値 
   見た目をどのように変えるのかを書く
   具体的に変えるものを指定する
*/

body {
    background-color: #fffeee;
}
 h1 {
    color: #0bd;
} p{
    font-size: 20px;
}

/* 複数のセレクターに指定 
   複数のセレクターに同じ装飾を指定できる
   指定するときは「,（カンマ）」でセレクターを区切る
   指定するセレクターの数や順番は関係ない
   h1,p { color: red; }
*/
/* 複数の装飾を指定 
   1つのセレクターに複数の装飾を指定したい場合
   値の最後に「;（セミコロン）」を加えてプロパティを区切る
   どの行でも「;」は付けることが無難
   h1 { color:red; font-size: 20px; }
*/