@charset "UTF-8";


div {
    background-image: url(images/bg-airplane.jpg);
    background-repeat: no-repeat;

    /*「background-size」プロパティ
    　 背景画像のサイズを指定する
    　 〇数値：「px」「rem」「%」等の単位をつける
    　 〇キーワード：「cover」「contain」で指定
    */
    /* 「contain」
    画像の縦横比を保持したまま画像が全て表示されるように表示する
    表示領域より画像が大きい場合は余白ができる
    */
    background-size: contain;
    height: 100vh;
}

p {
    text-align: center;
    padding-top: 30px;
}
