@charset "UTF-8";

/* 「font-size: 100%;」
    デフォルトの文字サイズ or ユーザーが調整したサイズ
    を基準に相対値を設定できる
*/
html {
    font-size: 100%;
}

/* 「font-size: 2rem;」
    基準のサイズである文章のn倍のサイズになっている
*/
h1 {
    font-size: 2rem;
}

/* 「font-size: 20px;」
    基準のサイズと関係なく絶対値として設定される

    文章主体のWebサイトでは14px~18px程度が一般的
    文字サイズのバリエーションは2~5種類
*/
h2 {
    font-size: 20px;
}
