@charset "UTF-8";

/* フォント名
   日本語名,フォント名にスペースが含まれる場合は、
   フォント名を「'」や「"」で囲って指定する
*/
/* キーワード
   ・sans-serif（ゴシック系）
   ・serif（明朝系）… 長い文章に適切
   ・cursive（筆記体）… 見出しやタイトルなどの短い文章
   ・fantasy（装飾系）… 見出しや短文にとどめ、本文には使わないようにする
   ・monospace（等幅）
   から指定する
*/

/* serif（明朝系）のフォントの指定 */
h1 {
  font-family: serif;
}

/* 
   ブラウザによっては日本語のフォント名を識別できないため、
   英語表記のフォント名も同時に指定する    
*/
h2 {
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
}

/* 
   日本語名,フォント名にスペースが含まれているので、
   フォント名を「'」や「"」で囲って指定する
*/
p{
    font-family: "ヒラギノ丸ゴ Pro W4","Hiragino Maru Gothic Pro", sans-serif;
}
